<div class="InputForm">
    <table>
        <tr>
            <td>
                First Name : {{firstName}}
            </td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input type="text" id="txtFirstName" value="{{firstName}}"/></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" id="txtLastName"/></td>
        </tr>
        <tr>
            <td>Address1</td>
            <td><input type="text" id="txtAddress1"/></td>
        </tr>
        <tr>
            <td>Address2</td>
            <td><input type="text" id="txtAddress2"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <button id="btnSave">Save</button>
                <button id="btnCancel">Cancel</button>
        </td>
        </tr>
    </table>
</div>